#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-authAndError-container {
    position: absolute;
    left: 39%;
    height: 140px;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.user-entrance {
    position: relative;
    height: 140px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-auth-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-text {
    color: rgb(204, 204, 204);
}

.switch-form {
    cursor: pointer;
    color: rgb(255, 166, 0);
    font-weight: bold;
}

.btn {
    cursor: pointer;
}

input[name='login-email']::placeholder,
input[name='login-password']::placeholder, 
input[name='signup-password']::placeholder, 
input[name='signup-email']::placeholder, 
input[name='signup-username']::placeholder {
    letter-spacing: 5px;
    text-align: center;
}

input[name='login-email']:focus::placeholder,
input[name='login-password']:focus::placeholder, 
input[name='signup-password']:focus::placeholder, 
input[name='signup-email']:focus::placeholder, 
input[name='signup-username']:focus::placeholder {
    color:transparent;
}

input[name='login-email'],
input[name='login-password'], 
input[name='signup-password'], 
input[name='signup-email'], 
input[name='signup-username'] {
    outline: none;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 1ch;
    padding: 1px 5px 2px 5px;
}

.signup-btn,
.login-btn {
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(107, 107, 107);
    letter-spacing: 5px;
    background: transparent;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 8px;
    width: 90%;
    margin-top: 10px;
}

.signup-btn:focus,
.login-btn:focus {
    outline: none;
}

.signup-btn:active,
.login-btn:active {
    margin-top: 8px;
    border: 2px solid orange;
    color: orange;
    box-shadow: inset 1px 1px rgb(255, 208, 120);
    font-weight: bold;
}

.signup-btn:disabled,
.login-btn:disabled {
    color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    cursor: none;
}


.userAuth-reqs {
    margin: 10px 0 0 0;
    padding: 0;
    position: relative;
    height: 80px;
}